{% extends "registration/RegisterBase.html" %}
{% block title %} Sign Up {% endblock %}

{% load crispy_forms_tags %}
    {% for msg in message %}
        <script>
            window.alert(msg)
        </script>
    {% endfor %}
{% block content %}
{% if user.is_authenticated %}
<div class="navbar navbar-expand-sm bg-dark navbar-dark">
   <ul class="col text-center">
      <button type="button" class="btn btn-link"><a href="/account"><h3>Home</h3></a></button>
      <button type="button" class="btn btn-link"><a href="/account/profile"><h3>View Profile</h3></a></button>
      <button type="button" class="btn btn-link"><a href="/account/recommendation"><h3>Recommendation</h3></a></button>
      <button type="button" class="btn btn-link"><a href="/chatstart"><h3>Chat</h3></a></button>
      <button type="button" class="btn btn-link"><a href="/account/change_password"><h3>Change Password</h3></a></button>
     <button type="button" class="btn btn-link"><a href="/account/logout"><h3>Log Out</h3></a></button>
     </ul>
     </div>
     {% endif %} 
     <div class="col-8" >
    <div class="sign-up form" style="max-width: 600px;">
        <!-- <h1 class="mt-2">{{heading}}</h1>
        <hr class="mt-0 mb-4"> -->

        <form method="post" class="form-group" style="max-width: 600px;">
            {% if not user.is_authenticated %}
            <h3>User Registration</h3>
            {% endif %}
            {% csrf_token %}
            {{form|crispy}}
            {% if user.is_authenticated %}
                <button type="submit" class="btn btn-success">Edit Profile</button>
            {% else %}
                <p>Already have an account?<a href="/login">Login here.</a> or 
                <a href="/account/reset-password">Reset Password</a> </p>
                <button type="submit" class="btn btn-success" >Sign Up</button>
            {% endif %}

        </form>
    </div>
</div>
{% endblock %}

